name: MLflow Training Pipeline


on:
  push:
    branches:
      - main

jobs:
  training:
    runs-on: ubuntu-latest
    
    steps:
   
    - name: Checkout code
      uses: actions/checkout@v3

    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    
    - name: Install MLflow & Dependencies
      run: |
        pip install mlflow
        # Kita install library dasar dulu agar environment creation lebih cepat
        pip install pandas scikit-learn matplotlib seaborn

   
    - name: Run MLflow Project
      env:
        
        MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      run: |
        mlflow run . --no-conda
